<h1 class="text-center">Your Profile</h1>

<div class="text-center">
  <h1>Your personal info</h1>
  <p><%= current_user.first_name %></p>
  <p><%= current_user.email %></p>
</div>


<div class="container">
  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://www.dvi43.com/wp-content/uploads/2015/01/geek.jpg')">
          </span>

          <span class="card-shadow"></span>
          <span class="card-description"><%= skill.level %></span>
          <span class="card-text">
            <h2><%= skill.name %></h2>
            <p><%= skill.description%></p>
          </span>
          <span class="card-user">
            <%= image_tag current_user.avatar, class:"avatar avatar-bordered" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

