

<div class= "text-center">
<h1>Add your ninja skills</h1>
<h3>Today is the day you start earn money </h3>
</div>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
       <%= simple_form_for @skill do |f| %>
       <%=f.input :name, collection: ["Ruby", "HTML", "PHP"], selected: ["Ruby"] %>
       <%=f.input :description, placeholder: "write a little story here about your experience" %>
       <%=f.input :level, collection: ["Newbie", "Padawan", "Master", "Ninja"], selected: ["Baby"] %>
       <%=f.input :price_per_hour, placeholder: "your price four a hour" %>
       <%=f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <%= link_to "back", users_path%>
</div>


