<h1>show project</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= @project.name %>
      <%= @project.status %>
      <%= @project.check_out %>
      <%= @project.price %>
      <%= @project.number_of_hours %>
      <%= @project.skill_id %>
      <%= @project.user_id %>
    </div>
  </div>
</div>


